<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello WASM + Axum</title>
  </head>
  <body>
    <h1 id="msg">Loading...</h1>
    <button id="action-btn">Click Me</button>

    <script type="module">
      import init, { greet } from "/static/pkg/wasm.js";
      (async () => {
        await init();
        document.getElementById("msg").textContent = greet();
      })();
    </script>
  </body>
</html>
